.weather-container {
    max-width: 426px;
    height: 100vh;
    color: white;
    padding: 1rem;
    margin: auto;
}

/* Search Bar Style Starts */
.search-bar {
    max-width: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: 50px;
}

.search-value {
    width: 94%;
    margin-left: 1%;
    outline: none;
    border: 0;
    font-size: 15px;
    background: transparent;
    color: white;
}

.search-icon {
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

/* Search Bar Style End */

/* Current Weather Style Starts */
.weather-details {
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    border-radius: 25px;
    padding: 1rem;
}

.weather-location {
    font-size: 1.5rem;
}

.local-time {
    padding: .7rem;
}

.current-weather {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.temperature {
    width: 70%;
    font-size: 4rem;
}

.temp-icon {
    width: 30%;
    margin-left: 10%;
}

.temp-icon img {
    width: 100%;
}

.weather-description {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.min-max-temp {
    width: 100%;
    text-align: center;
}

/* Current Weather Style Ends */